.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #4e73df;
  color: white;
  border: none;
  border-radius: 10px;
  width: 10%;
  height: 5%;
  font-size: 1.2 rem;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
  transition: opacity 0.3s ease;
}
@media (max-width: 1024px) {
  .back-to-top {
    display: none;
  }
  
}























































































































































































































































































































































































































































































