.contact-container {
  padding: 40px 20px;
  max-width: 1000px;
  margin: 75px auto;
  font-family: sans-serif;
}

.title-1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
  color: #0a1a66;
}

.contact-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  justify-content: space-between;
}

.content h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.content p {
  margin-bottom: 20px;
  color: #444;
  font-size: 18px;
  line-height: 1.5;
}

.info-list {
  list-style: none;
  padding: 2px;
}
.info-list li {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.6;
  display: flex;
  align-items: flex-start;
}
.contact-icons{
  padding:0 10px;
}
.form-inline {
  background-color: #f2f2f2;
  padding: 30px 80px;
  border-radius: 8px;
}
@media (max-width: 1024px) {
  .contact-wrapper {
    gap: 40px;
  }

  .title-1 {
    font-size: 2rem;
  }

  .content h2 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .content {
    width: 90%;
  }

  .title-1 {
    font-size: 1.8rem;
  }

  .content h2 {
    font-size: 17px;
  }
  .contact-wrapper {
    flex-direction: column;
  }

.form-inline {
  width: 50%;
  
}
  
}

@media (max-width: 480px) {
  .contact-container {
    padding: 20px;
  }

  .title-1 {
    font-size: 1.5rem;
  }

  .content p,
  .info-list li
   {
    font-size: 14px;
  }
.form-inline {
  width: 50%;
  margin: 0px;
}
input::placeholder{
  font-size: 0.8rem;
}
  
} 


